<!-- src/app/lista-produtos/lista-produtos.component.html -->
<!-- <h2>Lista de Produtos</h2>
<mat-list>
  <mat-list-item *ngFor="let produto of produtos">
    {{ produto.titulo }} - {{ produto.descricao }} - R$ {{ produto.preco }}
  </mat-list-item>
</mat-list> -->

<app-container>

  <section class="adicionar-produto">
    <button routerLink="/formulario">
      <span>Adicionar produto</span>
    </button>
  </section>

  <div class="container">
    <input type="search"
    placeholder="Digite para buscar"
    [(ngModel)]="filtroPorTexto"
    >
  </div>
  @for (letra of alfabeto; track letra) {
    @for (produto of filtrarProdutosPorLetraInicial(letra); track produto) {
      <section class="produto">
        <ul>
            <li>
                <strong>{{ produto.titulo }}</strong>
            </li>
            <li>{{ produto.descricao }}</li>
            <li>R$ {{ produto.preco }}</li>
            <li>
                <button>
                    <img src="/assets/pencil-square.png" alt="" (click)="editarProduto(produto)">
                </button>
                <button>
                    <img src="/assets/trash.png" alt="" (click)="excluirProduto(produto.id)">
                </button>
            </li>
        </ul>
        
      </section>
      <app-separador></app-separador>
    }
  } 

  
</app-container>
