<h2>Editar Produto</h2>
<form [formGroup]="produtoForm">
  <div>
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" formControlName="titulo" required>
  </div>
  <div>
    <label for="descricao">Descrição:</label>
    <textarea id="descricao" formControlName="descricao" required></textarea>
  </div>
  <div>
    <label for="preco">Preço:</label>
    <input type="number" id="preco" formControlName="preco" required>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="cancelarEdicao()">Cancelar</button>
    <button mat-button color="primary" (click)="salvarEdicao()">Salvar</button>
  </div>
</form>
